/*table{
  width: 100%;
}
*/


 /* Schermo extra small (telefoni) */
 @media screen and (max-width: 480px) {
  /* Regole CSS per lo schermo extra small */
  
  table{
    width: 100%;
  }

  .tableHeaderCellDiv{
    display:none;
  }

  td{
    display: block;
  }

  .cell{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-width-table{
    width: 100%;
    table-layout: fixed;
  }

  .link-style{
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .form-container{
    display: flex;
    flex-direction: column;
  }



}

/*QUI*/
/* Schermo small (tablet verticali) */
@media screen and (min-width: 480.01px) and (max-width: 767.98px) {
  /* Regole CSS per lo schermo small */

  table{
    width: 100%;
  }

  .tableHeaderCellDiv{
    display:none;
  }

  td{
    display: block;
  }

  .cell{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .full-width-table{
    width: 100%;
    table-layout: fixed;
  }

  .link-style{
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .form-container{
    display: flex;
    flex-direction: column;
  }

  .slider{
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  
  
}

/* Schermo medium (tablet orizzontali) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Regole CSS per lo schermo medium */

  table {
    width: 100% !important;
  }

  th{
    font-size: 20px;
  }

  .full-width-table{
    width: 100%;
    table-layout: fixed;
  }

  .link-style{
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by{
    display: none;
  }
  
  .head-before{
    display: none;
  }
  
}

/* Schermo large (desktop) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Regole CSS per lo schermo large */

  table {
    width: 100% !important;
  }

  th{
    font-size: 20px;
  }

  .full-width-table{
    width: 100%;
    table-layout: fixed;
  }

  .link-style{
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by{
    display: none;
  }

  .head-before{
    display: none;
  }

}

/* Schermo extra large (grandi desktop) */
@media screen and (min-width: 1200px) {
  /* Regole CSS per lo schermo extra large */

  table {
    width: 100% !important;
  }

  th{
    font-size: 20px;
  }

  .full-width-table{
    width: 100%;
    table-layout: fixed;
  }

  .link-style{
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by{
    display: none;
  }

  .head-before{
    display: none;
  }

}
