<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">-->
<!--onresize = "onChanges();"-->

<!--<body onresize = "onChanges()">-->
<!--mdl-layout--fixed-header-->

 
  

<div class="mdl-layout mdl-layout--fixed-header" [ngClass]="{'mdl-js-layout': screenWidth < 600, '': screenWidth >= 600}">


        <div class="mdl-layout__header mdl-layout__header--waterfall">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" *ngIf="logged" routerLink="/">
              <i class="material-icons">home</i> Movie Shop
            </span>
            <span class="mdl-layout-title" *ngIf="!logged" (click)="isNotLogged()">
              <i class="material-icons">home</i> Movie Shop
            </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <ng-template [ngIf]="logged">
              <ul class="mdl-navigation">
                <!--Quelli in alto-->
                <li class="link-top link_style mdl-navigation__link" (click)="redirectTo('/')"
                    (keydown.enter)="redirectTo('/')" tabindex="0" aria-label="press to go to homepage">Home
                </li>
                <li class="link-top link_style mdl-navigation__link" (click)="redirectTo('/films')"
                    (keydown.enter)="redirectTo('/films')" tabindex="0" aria-label="press to go to film list">Films
                </li>
                <li class="link-top link_style mdl-navigation__link" (click)="redirectTo('/rentals_history')"
                    (keydown.enter)="redirectTo('/rentals_history')" tabindex="0" aria-label="press to go to rental history">Rentals history
                </li>
                <li class="link-top link_style mdl-navigation__link" (click)="logOut()"
                    (keydown.enter)="logOut()" tabindex="0" aria-label="press to logout">Logout
                </li>
              </ul>
            </ng-template>
      
            <ng-template [ngIf]="!logged">
              <ul class="mdl-navigation">
                <!--Quelli in alto-->
                <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                    tabindex="0" aria-label="press to go to homepage">Home
                </li>
                <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                    tabindex="0" aria-label="press to go to film list">Films
                </li>
                <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                    tabindex="0" aria-label="press to go to rental history">Rentals history
                </li>
                <li class="link_style mdl-navigation__link" (click)="redirectTo('/login')"
                    (keydown.enter)="redirectTo('/login')" tabindex="0" aria-label="press to login">Login
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      
        <div class="mdl-layout__drawer">
          <ng-template [ngIf]="logged">
            <ul class="mdl-navigation">
              <li class="link_style_side mdl-navigation__link" (click)="redirectTo('/')"
                  (keydown.enter)="redirectTo('/')" tabindex="0" aria-label="press to go to homepage">Home
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="redirectTo('/films')"
                  (keydown.enter)="redirectTo('/films')" tabindex="0" aria-label="press to go to film list">Films
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="redirectTo('/rentals_history')"
                  (keydown.enter)="redirectTo('/rentals_history')" tabindex="0" aria-label="press to go to rental history">Rentals history
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="logOut()" (keydown.enter)="logOut()" tabindex="0" aria-label="press to logout">
                Logout
              </li>
            </ul>
          </ng-template>
      
          <ng-template [ngIf]="!logged">
            <ul class="mdl-navigation">
              <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                  tabindex="0" aria-label="press to go to homepage">Home
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                  tabindex="0" aria-label="press to go to film list">Films
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keydown.enter)="isNotLogged()"
                  tabindex="0" aria-label="press to go to rental history">Rentals history
              </li>
              <li class="link_style_side mdl-navigation__link" (click)="redirectTo('/login')"
                  (keydown.enter)="redirectTo('/login')" aria-label="press to login">Login
              </li>
            </ul>
          </ng-template>
        </div>
      
        <div class="mdl-layout__content content">
          <router-outlet></router-outlet>
        </div>
      </div>


    




   
