<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" *ngIf="logged" routerLink="/">
        <i class="material-icons">home</i> Movie Shop
      </span>
      <span class="mdl-layout-title" *ngIf="!logged" (click)="isNotLogged()">
        <i class="material-icons">home</i> Movie Shop
      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <ng-template [ngIf]="logged">
        <ul class="mdl-navigation">
          <!--Quelli in alto-->
          <li class="link_style mdl-navigation__link" routerLink="/" tabindex="0">Home</li>
          <li class="link_style mdl-navigation__link" routerLink="/films" tabindex="0">Films</li>
          <li class="link_style mdl-navigation__link" routerLink="/rentals_history" tabindex="0">Rentals history</li>
          <li class="link_style mdl-navigation__link" (click)="logOut()" (keypress)="logOut()" tabindex="0">Logout</li>
        </ul>
      </ng-template>

      <ng-template [ngIf]="!logged">
        <ul class="mdl-navigation">
          <!--Quelli in alto-->
          <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Home</li>
          <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Films</li>
          <li class="link_style mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Rentals history</li>
          <li class="link_style mdl-navigation__link" routerLink="/login" tabindex="0">Login</li>
        </ul>
      </ng-template>

    </div>
  </div>

  <div class="mdl-layout__drawer">
    <ng-template [ngIf]="logged">
      <ul class="mdl-navigation">
        <li class="link_style_side mdl-navigation__link" routerLink="/" tabindex="0">Home</li>
        <li class="link_style_side mdl-navigation__link" routerLink="/films" tabindex="0">Films</li>
        <li class="link_style_side mdl-navigation__link" routerLink="/rentals_history" tabindex="0">Rentals history</li>
        <li class="link_style_side mdl-navigation__link" (click)="logOut()" (keypress)="logOut()" tabindex="0">Logout</li>
      </ul>
    </ng-template>

    <ng-template [ngIf]="!logged">
      <ul class="mdl-navigation">
        <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Home</li>
        <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Films</li>
        <li class="link_style_side mdl-navigation__link" (click)="isNotLogged()" (keypress)="isNotLogged()" tabindex="0">Rentals history</li>
        <li class="link_style_side mdl-navigation__link" routerLink="/login" >Login</li>
      </ul>
    </ng-template>
  </div>

  <div class="mdl-layout__content content">
    <router-outlet></router-outlet>
  </div>
</div>
