  /* Schermo extra small (telefoni) */
  @media screen and (max-width: 480px) {
    /* Regole CSS per lo schermo extra small */
    .content {
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    
    .link_style {
      display: inline-block !important;
      text-decoration: none !important;
      color: white !important;
      cursor: pointer !important;
    }
    
    .link_style:hover {
      text-decoration: underline !important;
    }
    
    .link_style_side {
      display: inline-block !important;
      text-decoration: none !important;
      color: rgb(0, 0, 0) !important;
      cursor: pointer !important;
    }
    
    .link_style_side:hover {
      text-decoration: underline !important;
    }

    .link-top{
      display: none !important;
    }
  
  
  }
  
  /* Schermo small (tablet verticali) */
  @media screen and (min-width: 480.01px) and (max-width: 767.98px) {
    /* Regole CSS per lo schermo small */
  
    .content {
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    
    .link_style {
      display: inline-block !important;
      text-decoration: none !important;
      color: white !important;
      cursor: pointer !important;
    }
    
    .link_style:hover {
      text-decoration: underline !important;
    }
    
    .link_style_side {
      display: inline-block !important;
      text-decoration: none !important;
      color: rgb(0, 0, 0) !important;
      cursor: pointer !important;
    }
    
    .link_style_side:hover {
      text-decoration: underline !important;
    }

    .link-top{
      display: none !important;
    }
    
    
  }
  
  /* Schermo medium (tablet orizzontali) */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Regole CSS per lo schermo medium */
  
    .content {
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    
    .link_style {
      display: inline-block !important;
      text-decoration: none !important;
      color: white !important;
      cursor: pointer !important;
    }
    
    .link_style:hover {
      text-decoration: underline !important;
    }
    
    .link_style_side {
      display: inline-block !important;
      text-decoration: none !important;
      color: rgb(0, 0, 0) !important;
      cursor: pointer !important;
    }
    
    .link_style_side:hover {
      text-decoration: underline !important;
    }
    
    .list-not-visible{
      display: none;
    }
    
  }
  
  /* Schermo large (desktop) */
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Regole CSS per lo schermo large */
  
    .content {
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    
    .link_style {
      display: inline-block !important;
      text-decoration: none !important;
      color: white !important;
      cursor: pointer !important;
    }
    
    .link_style:hover {
      text-decoration: underline !important;
    }
    
    .link_style_side {
      display: inline-block !important;
      text-decoration: none !important;
      color: rgb(0, 0, 0) !important;
      cursor: pointer !important;
    }
    
    .link_style_side:hover {
      text-decoration: underline !important;
    }

    .list-not-visible{
      display: none;
    }
    
  
  }
  
/*Togliere barrette*/

  /* Schermo extra large (grandi desktop) */
@media screen and (min-width: 1200px) {
  /* Regole CSS per lo schermo extra large */
  
  .content {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .link_style {
    display: inline-block !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer !important;
  }
  
  .link_style:hover {
    text-decoration: underline !important;
  }
  
  .link_style_side {
    display: inline-block !important;
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
    cursor: pointer !important;
  }
  
  .link_style_side:hover {
    text-decoration: underline !important;
  }


  .list-not-visible{
    display: none;
  }
  
  

}
  






















