


<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">-->
<!--onresize = "onChanges();"-->

<!--<body onresize = "onChanges()">-->
<!--mdl-layout--fixed-header-->


<div [ngClass]="{'mdl-js-layout': screenWidth < 768, '': screenWidth >= 768}"
     class="mdl-layout mdl-layout--fixed-header">


  <div role = "banner" class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
               Movie Shop
            </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div role = "navigation" class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <ng-template [ngIf]="logged">
        <ul class="mdl-navigation">
          <!--Quelli in alto-->
          <li (click)="redirectTo('/')" (keydown.enter)="redirectTo('/')"
              aria-label="press to go to homepage" class="link-top link_style mdl-navigation__link" tabindex="0">Home
          </li>
          <li (click)="redirectTo('/films')" (keydown.enter)="redirectTo('/films')"
              aria-label="press to go to film list" class="link-top link_style mdl-navigation__link" tabindex="0">Films
          </li>
          <li (click)="redirectTo('/rentals_history')" (keydown.enter)="redirectTo('/rentals_history')"
              aria-label="press to go to rental history" class="link-top link_style mdl-navigation__link" tabindex="0">
            Rentals history
          </li>
          <li (click)="logOut()" (keydown.enter)="logOut()"
              aria-label="press to logout" class="link-top link_style mdl-navigation__link" tabindex="0">Logout
          </li>
        </ul>
      </ng-template>

      <ng-template [ngIf]="!logged">
        <ul class="mdl-navigation">
          <!--Quelli in alto-->
          <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" aria-label="press to go to homepage"
              class="link-top link_style mdl-navigation__link" tabindex="0">Home
          </li>
          <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" aria-label="press to go to film list"
              class="link-top link_style mdl-navigation__link" tabindex="0">Films
          </li>
          <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" aria-label="press to go to rental history"
              class="link-top link_style mdl-navigation__link" tabindex="0">Rentals history
          </li>
          <li (click)="redirectTo('/login')" (keydown.enter)="redirectTo('/login')"
              aria-label="press to login" class="link-top link_style mdl-navigation__link" tabindex="0">Login
          </li>
        </ul>
      </ng-template>
    </div>
  </div>

  <div role="navigation" aria-label="press to open side menu" [ngClass]="{'mdl-layout__drawer': screenWidth < 768, '': screenWidth >= 768}"
       class="list-not-visible mdl-layout__drawer">
    <ng-template [ngIf]="logged">
      <ul class="mdl-navigation">
        <li (click)="redirectTo('/')" (keydown.enter)="redirectTo('/')"
            [tabindex]="tabindexValue()" aria-label="press to go to homepage" class="link_style_side mdl-navigation__link">Home
        </li>
        <li (click)="redirectTo('/films')" (keydown.enter)="redirectTo('/films')"
            [tabindex]="tabindexValue()" aria-label="press to go to film list" class="link_style_side mdl-navigation__link">
          Films
        </li>
        <li (click)="redirectTo('/rentals_history')" (keydown.enter)="redirectTo('/rentals_history')"
            [tabindex]="tabindexValue()" aria-label="press to go to rental history"
            class="link_style_side mdl-navigation__link">Rentals history
        </li>
        <li (click)="logOut()" (keydown.enter)="logOut()" [tabindex]="tabindexValue()"
            aria-label="press to logout" class="link_style_side mdl-navigation__link">
          Logout
        </li>
      </ul>
    </ng-template>

    <ng-template [ngIf]="!logged">
      <ul class="list-not-visible mdl-navigation">
        <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" [tabindex]="tabindexValue()"
            aria-label="press to go to homepage" class="link_style_side mdl-navigation__link">Home
        </li>
        <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" [tabindex]="tabindexValue()"
            aria-label="press to go to film list" class="link_style_side mdl-navigation__link">Films
        </li>
        <li (click)="isNotLogged()" (keydown.enter)="isNotLogged()" [tabindex]="tabindexValue()"
            aria-label="press to go to rental history" class="link_style_side mdl-navigation__link">Rentals history
        </li>
        <li (click)="redirectTo('/login')" (keydown.enter)="redirectTo('/login')"
            [tabindex]="tabindexValue()" aria-label="press to login" class="link_style_side mdl-navigation__link">Login
        </li>
      </ul>
    </ng-template>
  </div>

  <div class="mdl-layout__content content">
    <router-outlet></router-outlet>
  </div>
</div>








