mat-option:focus {
  /*outline: 2px solid black;*/
  border: solid 1px !important; 
}

mat-label{
  color: black;
  
}

mat-option{
  background-color: #d6f6f3;
  border: solid 1px;

}


mat-option:hover{
  text-decoration: solid;
  border: solid 3px;
}



/* Schermo extra small (telefoni) */
@media screen and (max-width: 480px) {
  /* Regole CSS per lo schermo extra small */
  table {
    width: 100%;
  }

  .tableHeaderCellDiv {
    display: none;
  }

  td {
    display: block;
  }

  .cell {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-width-table {
    width: 100%;
    table-layout: fixed;
  }

  .link-style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .order-button {
    margin-bottom: 30px;
  }

  .slider {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .first-row {
    background-color: rgba(211, 211, 211, 0.575);
  }

  .id-ref {
    font-size: 25px;
  }


}

/*QUI*/
/* Schermo small (tablet verticali) */
@media screen and (min-width: 480.01px) and (max-width: 767.98px) {
  /* Regole CSS per lo schermo small */
  table {
    width: 100%;
  }

  .tableHeaderCellDiv {
    display: none;
  }

  td {
    display: block;
  }

  .cell {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .full-width-table {
    width: 100%;
    table-layout: fixed;
  }

  .link-style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .order-button {
    margin-bottom: 30px;
  }

  .slider {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
  }


  .first-row {
    background-color: rgba(211, 211, 211, 0.575);
  }

  .id-ref {
    font-size: 25px;
  }

}

/* Schermo medium (tablet orizzontali) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Regole CSS per lo schermo medium */
  table {
    width: 100% !important;
  }

  th {
    font-size: 20px;
  }

  .full-width-table {
    width: 100%;
    table-layout: fixed;
  }

  .link-style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by {
    display: none;
  }

  .head-before {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .inline-title {
    display: inline;
    margin-right: 10px;
  }

  .form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .align-left {
    text-align: left;
  }


  .position-absolute-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .mat-label {
    text-align: left !important;
  }

  .cell-no-title-found {
    font-size: 22px !important;
  }


}

/* Schermo large (desktop) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Regole CSS per lo schermo large */
  table {
    width: 100% !important;
  }

  th {
    font-size: 20px;
  }

  .full-width-table {
    width: 100%;
    table-layout: fixed;
  }

  .link-style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by {
    display: none;
  }

  .head-before {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .align-left {
    text-align: left;
    margin-right: 5px !important;
  }

  .form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .align-left {
    text-align: left;
  }


  .position-absolute-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .mat-label {
    text-align: left !important;
  }

  .cell-no-title-found {
    font-size: 22px !important;
  }


}

/* Schermo extra large (grandi desktop) */
@media screen and (min-width: 1200px) {
  /* Regole CSS per lo schermo extra large */
  table {
    width: 100% !important;
  }

  th {
    font-size: 20px;
  }

  .full-width-table {
    width: 100%;
    table-layout: fixed;
  }

  .link-style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .order-by {
    display: none;
  }

  .head-before {
    display: none;
  }

  .header-container {
    /*display: flex;*/
    align-items: center;
  }

  .align-inline {
    display: inline !important;

  }


  .form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .align-left {
    text-align: left;
  }


  .position-absolute-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .mat-label {
    text-align: left !important;
  }

  .cell-no-title-found {
    font-size: 22px !important;
  }

}
