<div class="form-container position-relative" role="search">
  <h1 class="align-left align-inline">Rentals History</h1>
  <mat-form-field class="align-right">
    <mat-label>Search title</mat-label>
    <input #input (keyup)="titleFilter($event)" class="position-absolute-bottom" matInput placeholder=""/>
  </mat-form-field>

  <mat-form-field class="order-by">
    <!--<mat-label>Order By</mat-label>-->
    <!--(selectionChange)="onOrdineChange()"-->
    <mat-select [(ngModel)]="ordineSelezionato">
      <mat-option *ngFor="let col of dispayedColumn" [value]="col">
        {{col}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-slide-toggle [(ngModel)]="isOrderAsc" class="slider order-by"><span *ngIf="isOrderAsc; else descending">Ascending order</span>
  </mat-slide-toggle>


  <ng-template #descending>
    <span>Descending order</span>
  </ng-template>

  <button (click)="onOrdinaClick()" class="order-button order-by" color="primary" mat-raised-button>Sort</button>


</div>


<div class="table-container mat-elevation-z8" role="main">
  <table [dataSource]="dataSource" class="full-width-table" mat-table matSort>

    <ng-container matColumnDef="rental_id">
      <th *matHeaderCellDef aria-label="press to order by rental id" class="tableHeaderCellDiv " mat-header-cell
          mat-sort-header>Rental id
      </th>
      <td (click)="openInfo(row.rental_id, row.store_id)" (keydown.enter)="openInfo(row.rental_id, row.store_id)"
          *matCellDef="let row"
          class="first-row id-ref cell link-style" mat-cell>
        <a attr.aria-label="press to open rental number {{row.rental_id}} details" class="cell link-style" tabindex="0">
          <b><span class="head-before">ID: </span></b>{{row.rental_id}}</a></td>
    </ng-container>
    <ng-container matColumnDef="film_title">
      <th *matHeaderCellDef aria-label="press to order by film title" class="tableHeaderCellDiv" mat-header-cell
          mat-sort-header>Title
      </th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Film Title: </span></b>{{row.film_title}}</td>
    </ng-container>
    <ng-container matColumnDef="payment_date">
      <th *matHeaderCellDef aria-label="press to order by payment date" class="tableHeaderCellDiv" mat-header-cell
          mat-sort-header>Payment date
      </th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Payment Date: </span></b>{{row.payment_date | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef aria-label="press to order by amount" class="tableHeaderCellDiv" mat-header-cell
          mat-sort-header>Amount
      </th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Amount: </span></b>{{row.amount | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="shop">
      <th *matHeaderCellDef aria-label="press to order by shop" class="tableHeaderCellDiv" mat-header-cell
          mat-sort-header>Shop
      </th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span class="head-before">Shop: </span></b>{{row.shop}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef aria-label="press to order by duration" class="tableHeaderCellDiv" mat-header-cell
          mat-sort-header sortActionDescription="Sort by duration">
        Duration
      </th>
      <td *matCellDef="let row" class="cell last-cell" mat-cell><b><span
        class="head-before">Duration: </span></b> {{row.duration | convertiDurata}}</td>
    </ng-container>
    <tr *matHeaderRowDef="dispayedColumn" mat-header-row></tr>
    <tr *matRowDef="let row; columns: dispayedColumn" mat-row></tr>


    <tr *matNoDataRow class="tableHeaderCellDiv">
      <td class="cell-no-title-found cell mat-cell" colspan="4">No title named {{input.value}}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" aria-label="select page of rentals"></mat-paginator>
</div>
