<h1>Rentals History</h1>

<div class="form-container">
  <mat-form-field>
    <mat-label>Search title</mat-label>
    <input #input (keyup)="titleFilter($event)" matInput placeholder="" search/>
  </mat-form-field>

  <mat-form-field class="order-by">
    <mat-label>Order By</mat-label>
    <mat-select (selectionChange)="onOrdineChange()" [(ngModel)]="ordineSelezionato">
      <mat-option *ngFor="let col of dispayedColumn" [value]="col">
        {{col}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="isOrderAsc" class="slider order-by">Ordinamento</mat-slide-toggle>
</div>


<div class="table-container mat-elevation-z8">
  <table [dataSource]="dataSource" class="full-width-table" mat-table matSort>

    <ng-container matColumnDef="rental_id">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header>Rental id</th>
      <td (click)="openInfo(row.rental_id, row.store_id)" *matCellDef="let row" class="cell link-style" mat-cell>
        <b><span class="head-before">ID: </span></b>{{row.rental_id}}</td>
    </ng-container>
    <ng-container matColumnDef="film_title">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header>Title</th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Film Title: </span></b>{{row.film_title}}</td>
    </ng-container>
    <ng-container matColumnDef="payment_date">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header>Payment date</th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Payment Date: </span></b>{{row.payment_date | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header>Amount</th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Amount: </span></b>{{row.amount | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="shop">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header>Shop</th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span class="head-before">Shop: </span></b>{{row.shop}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef class="tableHeaderCellDiv" mat-header-cell mat-sort-header
          sortActionDescription="Sort by duration">
        Duration
      </th>
      <td *matCellDef="let row" class="cell" mat-cell><b><span
        class="head-before">Duration: </span></b> {{row.duration | convertiDurata}}</td>
    </ng-container>
    <tr *matHeaderRowDef="dispayedColumn" mat-header-row></tr>
    <tr *matRowDef="let row; columns: dispayedColumn" mat-row></tr>


    <tr *matNoDataRow class="tableHeaderCellDiv">
      <td class="cell mat-cell" colspan="4">No title named {{input.value}}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-labels="select page of rentals"></mat-paginator>
</div>


<!--
<ng-container matColumnDef="rental_date">
  <th class = "tableHeaderCellDiv" mat-header-cell *matHeaderCellDef mat-sort-header>Rental date</th>
  <td mat-cell *matCellDef="let row">{{row.rental_date | date: 'dd/MM/yyyy H:mm'}}</td>
</ng-container>
<ng-container matColumnDef="return_date">
  <th class = "tableHeaderCellDiv" mat-header-cell *matHeaderCellDef mat-sort-header>Return date</th>
  <td mat-cell *matCellDef="let row">{{row.return_date | date: 'dd/MM/yyyy H:mm'}}</td>
</ng-container>


{{row.duration.giorni}} days, {{row.duration.ore}} hour, {{row.duration.minuti}} min
-->
