/* Schermo extra small (telefoni) */
@media screen and (max-width: 480px) {
  /* Regole CSS per lo schermo extra small */
  .link_style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }


  /*div that contains <table>*/
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Opzionale: per allineare verticalmente al centro */
  }

  .fixed-size-table {
    width: 100%;
    table-layout: auto;
    margin-bottom: 40px;
  }

  .title-cell {
    white-space: pre-wrap;
  }


  .mdl-data-table tr {
    display: flex;
    flex-direction: column;
  }

  .mdl-data-table tr th,
  .mdl-data-table tr td {
    flex-basis: 100%;
    text-align: center;
  }

  .head-title {
    display: none;
  }

  .before-title::before {
    content: "Title: ";
    text-decoration: none !important;
  }

  .before-title {
    text-decoration: none !important;
  }


  .before-year::before {
    content: "Year: ";
  }

  .before-rating::before {
    content: "Rating: "
  }

  .before-category:before {
    content: "Category: "
  }

  .before-language::before {
    content: "Language: "
  }

  .before-price::before {
    content: "Price: "
  }

  .tr, th {
    display: none;
  }

  .cell {
    width: 100%;
  }

  .container-search {
    display: flex; /*center?*/
    flex-direction: column;
  }


  .paging {
    text-align: center;
  }

  .page-number {
    font-size: 20px;
    margin-top: 10px;
  }

  .material-icons {
    font-size: 40px;
  }

  .cell-not-visible {
    padding: 10px;
    background-color: whitesmoke;
  }

}

/* Schermo small (tablet verticali) */
@media screen and (min-width: 480.01px) and (max-width: 767.98px) {
  /* Regole CSS per lo schermo small */
  .link_style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  /*div that contains <table>*/
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Opzionale: per allineare verticalmente al centro */
  }

  .fixed-size-table {
    width: 100%;
    table-layout: auto;
    margin-bottom: 40px;
  }

  .title-cell {
    white-space: pre-wrap;
  }


  .mdl-data-table tr {
    display: flex;
    flex-direction: column;
  }

  .mdl-data-table tr th,
  .mdl-data-table tr td {
    flex-basis: 100%;
    text-align: center;
  }

  .head-title {
    display: none;
  }

  .before-title::before {
    content: "Title: ";
    /*text-decoration: none !important;*/
  }


  .before-year::before {
    content: "Year: ";
  }

  .before-rating::before {
    content: "Rating: "
  }

  .before-category:before {
    content: "Category: "
  }

  .before-language::before {
    content: "Language: "
  }

  .before-price::before {
    content: "Price: "
  }

  .tr, th {
    display: none;
  }

  .cell {
    width: 100%;
  }

  .container-search {
    display: flex;
    align-items: center;
  }

  .paging {
    text-align: center;
  }

  .page-number {
    font-size: 20px;
    margin-top: 10px;
  }

  .material-icons {
    font-size: 40px;
  }

  .cell-not-visible {
    padding: 10px;
    background-color: whitesmoke;
  }
}

/* Schermo medium (tablet orizzontali) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Regole CSS per lo schermo medium */
  .link_style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  /*div that contains <table>*/
  .table-container {
    display: flex;
    justify-content: center;
  }

  /*All the <table>*/
  .fixed-size-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 40px;
  }

  .container-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input-container {
    margin-right: 30px;
  }

  .title-cell {
    white-space: pre-wrap;
  }

  .paging {
    text-align: center;
  }

  .page-number {
    font-size: 20px;
    margin-top: 10px;
  }

  .material-icons {
    font-size: 40px;
  }

  td.cell-not-visible {
    display: none;
  }

 
  .align-center {
    text-align: center;
  }
  
}

/* Schermo large (desktop) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Regole CSS per lo schermo large */
  .link_style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  /*div that contains <table>*/
  .table-container {
    display: flex;
    justify-content: center;
  }

  /*All the <table>*/
  .fixed-size-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 40px;
  }

  .container-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input-container {
    margin-right: 30px;
  }

  .title-cell {
    white-space: pre-wrap;
  }

  .paging {
    text-align: center;
  }

  .page-number {
    font-size: 20px;
    margin-top: 10px;
  }

  .material-icons {
    font-size: 40px;
  }

  th {
    font-size: 20px;
  }

  td.cell-not-visible {
    display: none;
  }

  .align-center {
    text-align: center;
  }
}

/* Schermo extra large (grandi desktop) */
@media screen and (min-width: 1200px) {
  /* Regole CSS per lo schermo extra large */
  .link_style {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  /*div that contains <table>*/
  .table-container {
    display: flex;
    justify-content: center;
  }

  /*All the <table>*/
  .fixed-size-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 40px;
  }

  .container-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-input-container {
    margin-right: 30px;
  }

  .title-cell {
    white-space: pre-wrap;
  }

  .paging {
    text-align: center;
  }

  .page-number {
    font-size: 20px;
    margin-top: 10px;
  }

  .material-icons {
    font-size: 40px;
  }

  th {
    font-size: 20px;
  }

  td.cell-not-visible {
    display: none;
  }

  .align-center {
    text-align: center;
  }

}
