<!--<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search Film</mat-label>
    <input matInput placeholder="Film title" value="" (input)="searchByFilm($event)">
  </mat-form-field>
</form>-->

<!--<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>-->

<div class="container-search">
  <div class="search-input-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search By Title" #box (keyup.enter)="searchFilmByTitle(box.value)">
    </mat-form-field>
</div>


  <mat-form-field>
    <mat-label>Film Category</mat-label>
    <mat-select [(value)]="selectedCategoryOption" (selectionChange)="onCategoryChange()">
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let category of filmCategory" [value]="category.category">{{category.category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>




<div class="table-container">
  <table
    class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp fixed-size-table">
    <colgroup>
      <!--<col class="mat-column-film-id mdl-data-table__cell--non-numeric">-->
      <col class="mat-column-title mdl-data-table__cell--non-numeric">
      <col class="mat-column-year mdl-data-table__cell--non-numeric">
      <col class="mat-column-rating mdl-data-table__cell--non-numeric">
      <col class="mat-column-category mdl-data-table__cell--non-numeric">
      <col class="mat-column-language mdl-data-table__cell--non-numeric">
      <col class="mat-column-price mdl-data-table__cell">
      <col class="mat-column-rent mdl-data-table__cell--non-numeric">

    </colgroup>
    <tr>
      <!--<th class="mdl-data-table__cell--non-numeric">Film_id</th>-->
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Title</b></th>
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Year</b></th>
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Rating</b></th>
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Category</b></th>
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Language</b></th>
      <th class="mdl-data-table__cell align-center"><b class="head-title">Price</b></th>
      <th class="mdl-data-table__cell--non-numeric align-center"><b class="head-title">Rental</b></th>
    </tr>

    <ng-template [ngIf]="searchByTitle == ''">
      <tr *ngFor="let film of films">
        <!--<td class="mdl-data-table__cell--non-numeric">{{film.film_id}}</td>-->


        <td class="cell title-cell link_style film-title mdl-data-table__cell--non-numeric align-center " (click)="openInfo(film.film_id)"><b><span class="before-title"></span></b>{{film.film_title}}
        </td>
        <td class="cell year-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-year"></span></b>{{film.release_year}}</td>
        <td class="cell rating-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-rating"></span></b>{{film.rating}}</td>
        <td class="cell category-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-category"></span></b>{{film.category}}</td>
        <td class="cell language-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-language"></span></b>{{film.language}}</td>
        <td class="cell price-cell mdl-data-table__cell align-center"><b><span class="before-price"></span></b>{{film.cost | currency}}</td>
        <td class = "cell button-cell">

          <button class="button-rent" mat-raised-button color="primary" (click)="openRental(film.film_id)">Rental
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template [ngIf]="searchByTitle != ''">
      <tr *ngFor="let film of films">
        <!--<td class="mdl-data-table__cell--non-numeric">{{film.film_id}}</td>-->

        <td class="cell title-cell film-title mdl-data-table__cell--non-numeric align-center" class="link_style" (click)="openInfo(film.film_id)"><b><span class="before-title"></span></b>{{film.film_title}}

        </td>
        <td class="cell year-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-year"></span></b>{{film.release_year}}</td>
        <td class="cell rating-cell mdl-data-table__cell--non-numeric align-center "><b><span class="before-rating"></span></b>{{film.rating}}</td>
        <td class="cell category-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-category"></span></b>{{film.category}}</td>
        <td class="cell language-cell mdl-data-table__cell--non-numeric align-center"><b><span class="before-language"></span></b>{{film.language}}</td>
        <td class="cell price-cell mdl-data-table__cell align-center"><b><span class="before-price"></span></b>{{film.cost | currency}}</td>
        <td class="cell button-cell">
          <button class="button-info" mat-raised-button color="primary" (click)="openRental(film.film_id)">Rental
          </button>
        </td>
      </tr>
    </ng-template>


  </table>
</div>

<div class="paging">

  <button
    class="mdl-button mdl-js-button mdl-button--colored"
    (click)="prevPage()"
  >
    <i class="material-icons">arrow_back</i>
  </button>

  <span class="page-number">Page {{page + 1}}</span>

  <button
    class="mdl-button mdl-js-button mdl-button--colored"
    (click)="nextPage()"
  >
    <i class="material-icons">arrow_forward</i>
  </button>

</div>


<br>


