<ng-container *ngIf="film && actors && stores">
<h2 mat-dialog-title tabindex="0">Info page of {{film.film_title}}</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li tabindex="0"><b>Rating:</b> {{film.rating}}</li>
    <li tabindex="0"><b>Release:</b> {{film.release_year}}</li>
    <li tabindex="0"><b>Language:</b> {{film.language}}</li>
    <li tabindex="0"><b>Duration:</b> {{film.length}} min</li>
    <li tabindex="0"><b>Category:</b> {{film.category}}</li>
    <li tabindex="0"><b>Description:</b> {{film.description}}</li>
    <li tabindex="0"><b>Actors:</b> <span
      *ngFor="let actor of actors; let la = last">{{actor.first_name}} {{actor.last_name}}<span
      *ngIf="!la">, </span></span></li>
    <li tabindex="0"><b>Price:</b> {{film.cost | currency}}</li>
    <li tabindex="0"><b>Rental duration:</b> {{film.rental_duration}} days</li>
    <li tabindex="0"><span *ngIf="stores.length != 0; then store_true else store_false"></span></li>
  </ul>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="0" aria-label="press to close the info film page">Cancel</button>
    <button (click)="openRental()" [mat-dialog-close]="true" mat-button tabindex="0" aria-label="press to open the rental page">Rental</button>
  </mat-dialog-actions>


  <ng-template #store_true><b>Available in:</b>
    <ul *ngFor="let store of stores; let las = last">
      <li>{{store.address}}, {{store.city}} ({{store.country}})<span *ngIf="!las">,</span></li>
    </ul>
  </ng-template>
  <ng-template #store_false><b>Not available in stores</b></ng-template>
</mat-dialog-content>

</ng-container>

