
<div class="text-center">
  <form class="form-signin" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please Log-In to access the services</h1>

    <mat-form-field>
      <mat-label class="sr-only">Username</mat-label>
      <input
        matInput
        type="userName"
        name="userName"
        class="form-control"
        placeholder="userName"
        required
        autofocus
        [(ngModel)]="userName"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label class="sr-only">Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
        [(ngModel)]="password"
      />
    </mat-form-field>
    <ng-template [ngIf]="nullCredentials">
      <p id="invalidCredentials" class="invalid"> Please insert <b>both</b> Username and Password.</p>
    </ng-template>

    <ng-template [ngIf]="wrongCredentials">
      <p id="credentialsRequired" class="invalid"> Login <b>failed</b>. Credentials Error.</p>
    </ng-template>

    <button mat-raised-button color = "primary" class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>

  </form>
</div>
