<ng-container *ngIf="film && stores">
<h2 mat-dialog-title >Rental page of {{film.film_title}}</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li ><b>Title:</b> {{film.film_title}}</li>
    <li ><b>Rating:</b> {{film.rating}}</li>
    <li ><b>Release:</b> {{film.release_year}}</li>
    <li ><b>Language:</b> {{film.language}}</li>
    <li ><b>Duration:</b> {{film.length}} min</li>
    <li ><b>Category:</b> {{film.category}}</li>
    <li ><b>Description:</b> {{film.description}}</li>
  </ul>
  <div *ngIf="available; then disp else noDisp"></div>
  <ng-template #disp>
    <mat-form-field>
      <mat-label>Select a store</mat-label>
      <mat-select #select_store [(value)]="selected_store" required="true">
        <mat-option *ngFor="let store of stores" [value]="store.store_id">
          {{store.address}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a date</mat-label>
      <mat-select #select_date [(value)]="selected_date" required="true" >
        <mat-option *ngFor="let date of rental_dates" [value]="date">
          {{date}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close aria-label="press to close the rental page">Cancel</button>
      <div *ngIf="select_store.value!=null && select_date.value!=null; then enabled else disabled"></div>
    </mat-dialog-actions>

    <ng-template #enabled>
      <button (click)="openPopup()" [mat-dialog-close]="true" cdkFocusInitial color="primary" mat-raised-button aria-label="press to rental the film">Buy
      </button>
    </ng-template>

    <ng-template #disabled>
      <button [mat-dialog-close]="true" disabled mat-raised-button>Buy</button>
    </ng-template>
  </ng-template>

  <ng-template #noDisp>
    <h2 >RENTAL NOT AVAILABLE</h2>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close aria-label="press to close the rental page">Cancel</button>
    </mat-dialog-actions>
  </ng-template>

</mat-dialog-content>
</ng-container>
